<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>mac attrs</title>
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/mac-attrs.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="main">
        <h1 class="text-center text-primary font-weight-bold">mac attrs</h1>
        {% block body %}
        {% endblock %}
      </div>
    </div>
<!--             Uncomment these files if you need them.             -->
<!--    <script src="./static/js/jquery-3.3.1.slim.min.js"></script> -->
<!--    <script src="./static/js/popper.min.js"></script>            -->
<!--    <script src="./static/js/bootstrap.min.js"></script>         -->
  </body>
</html>
